<configuration>
    <!-- Appenders -->
    <!-- STDOUT appenders -->
    <appender name="context-stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%X{context}] %date %level: %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appenders -->
    <appender name="context-logstash" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FOLDER}/context-event.log</file>
        <!-- https://github.com/logstash/logstash-logback-encoder -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>
    
    <appender name="general" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FOLDER}/general.log</file>
        <!-- https://github.com/logstash/logstash-logback-encoder -->
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file:%line] %msg%n</pattern>
        </encoder>s
    </appender>

    <!-- Loggers -->
    <if condition='property("server.DEBUG_MODE").equalsIgnoreCase("true")'>
        <!-- DEBUG MODE -->
        <then>
            <logger name="org.eclipse.jetty" level="INFO" additivity="false">
                <appender-ref ref="stdout" />
            </logger>
            <logger name="DataNucleus" level="INFO"/>

            <root level="debug">
                <appender-ref ref="context-stdout" />
            </root>
        </then>
        <!-- NORMAL MODE -->
        <else>
            <logger name="org.eclipse.jetty" level="WARN" additivity="false">
                <appender-ref ref="general" />
            </logger>
            <logger name="DataNucleus" level="WARN"/>

            <root level="INFO">
                <appender-ref ref="context-logstash" />
            </root>
        </else>
    </if>
</configuration>
